*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

/* HOME.CSS */
.home-container {
    width: 100%;
    height: 100vh;
    background-image: url("IMG/home-bg.png");
    background-size: cover;
    background-position: center;
}

.navbar {
    margin: auto;
    background: #BDE3C3;
    text-align: center;
}

.navbar ul {
    display: inline-flex;
    list-style: none;
    color: black;
}

.navbar ul li {
    width: 160px;
    margin: 5px;
    padding: 5px;
}

.navbar ul li a {
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.navbar ul li:hover {
    background: #F8F7BA;
    border-radius: 10px;
}

.home-logo img {
    position: absolute;
    margin-top: 3px;
    margin-left: 10px;
    margin-bottom: 3px;
    height: 42px;
    width: 60px;
}

.home-content{
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #F8F7BA;
}

.home-content h1 {
    margin-top: 20px;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 20px;
    font-size:70px;
}

.home-button {
    width: 200px;
    border-radius: 10px;
    background-color: #BDE3C3;
    padding: 10px 10px;
    color: black;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    font-size: 20px;
    align-items: center;
}

.home-button:hover {
    width: 200px;
    border-radius: 10px;
    background-color: #F8F7BA;
    padding: 10px 10px;
    color: black;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    font-size: 20px;
}

/* ABOUT.CSS */
.about-container {
    width: 100%;
    height: 87vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.about-image {
    width: 500px;
    position: relative;
}

.about-image img {
    width: 100%;
    height: 87vh;
    display: block;
    border-radius: 10px;
}

.about-content {
    width: 100%;
    height: 87vh;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    border-radius: 10px;
    box-shadow:  5px 5px 8px 0 #9ECFD4;
    transition:opacity 0.3s;
}

.about-content:hover {
    opacity: 1;
    cursor: pointer;
}

.about-content h3 {
    font-size: 25px;
    font-weight: bold;
    color: #F8F7BA;
    margin-bottom: 10px;
}

.about-content p {
    font-size: 20px;
    color: #F8F7BA;
    padding: 10px;
}

/* TOURIST.CSS */
.tourist-container {
    width: 100%;
    height: 93vh;
    margin-top: 15px;
    margin-left: 35px;
    margin-right: 35px;
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 6px;
}

.tourist-image {
    position: relative;
    width: 420px;
    height: 310px;
}

.tourist-container img {
    width: 420px;
    height: 310px;
    border-radius: 10px;
}

.tourist-content {
    width: 420px;
    height: 310px;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    border-radius: 10px;
    box-shadow:  5px 5px 8px 0 #9ECFD4;
    transition:opacity 0.3s;
}

.tourist-content:hover {
    opacity: 1;
    cursor: pointer;
}

.tourist-content h3 {
    font-size: 20px;
    font-weight: bold;
    color: #F8F7BA;
    margin-bottom: 5px;
}

.tourist-content p {
    font-size: 17px;
    color: #F8F7BA;
    padding: 10px;
}

/* FESTIVAL.CSS */
.festival-container {
    width: 100%;
    height: 87vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.festival-image {
    width: 500px;
    position: relative;
}

.festival-image img {
    width: 100%;
    height: 87vh;
    display: block;
    border-radius: 10px;
}

.festival-content {
    width: 100%;
    height: 87vh;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    border-radius: 10px;
    box-shadow:  5px 5px 8px 0 #9ECFD4;
    transition:opacity 0.3s;
}

.festival-content:hover {
    opacity: 1;
    cursor: pointer;
}

.festival-content h3 {
    font-size: 25px;
    font-weight: bold;
    color: #F8F7BA;
    margin-bottom: 10px;
}

.festival-content p {
    font-size: 20px;
    color: #F8F7BA;
    padding: 10px;
} 

.festival-button {
    width: 85px;
    border-radius: 10px;
    background-color: #BDE3C3;
    padding: 10px 10px;
    color: black;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    font-size: 20px;
}

.festival-button:hover {
    width: 85px;
    border-radius: 10px;
    background-color: #F8F7BA;
    padding: 10px 10px;
    color: black;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    font-size: 20px;
}

/* FOODS.CSS */
.foods-container {
    width: 100%;
    height: 93vh;
    margin-top: 15px;
    margin-left: 35px;
    margin-right: 35px;
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 6px;
}

.foods-image {
    position: relative;
     width: 420px;
    height: 310px;
}

.foods-container img {
    width: 420px;
    height: 310px;
    border-radius: 10px;
}

.foods-content {
    width: 420px;
    height: 310px;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    border-radius: 10px;
    box-shadow:  5px 5px 8px 0 #9ECFD4;
    transition:opacity 0.3s;
}

.foods-content:hover {
    opacity: 1;
    cursor: pointer;
}

.foods-content h3 {
    font-size: 20px;
    font-weight: bold;
    color: #F8F7BA;
    margin-bottom: 10px;
}

.foods-content p {
    font-size: 17px;
    color: #F8F7BA;
    padding: 10px;
} 